<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pinyin.learning" version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>拼音小乐园</name>
    <description>
        幼小衔接拼音读写学习工具。点击拼音即发音，声母韵母整体认读全覆盖，适合学龄前儿童。
    </description>
    <author email="dev@pinyin-app.com" href="">
        拼音小乐园
    </author>
    <content src="index.html" />

    <!-- 权限 -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />

    <!-- 安卓配置 -->
    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="Fullscreen" value="false" />
        <preference name="Orientation" value="portrait" />
    </platform>

    <!-- iOS配置 -->
    <platform name="ios">
        <preference name="TargetedDeviceFamily" value="1,2" />
    </platform>

    <!-- 图标占位 -->
    <icon src="www/img/icon.png" />
</widget>
